html {
  box-sizing: border-box;
}
*,
*::before,
*::after {
  box-sizing: inherit;
}
:root {
  --orange: #fcc979;
  --black: #000000;
  --white: #ffffff;
  --teal: #bee5ec;
  --darkteal: #92bed9;
  --green: #d5fcda;
  --pink: #fccdcc;
  --yellow: #ffedcb;
}
.container {
  max-width: 1200px;
  margin: auto;
}
body {
  display: flex;
  flex-wrap: wrap;
}

h1 {
  text-align: center;
  color: var(--black);
  background-color: var(--teal);
  display: inline-block;
  padding: 2rem;
  border-radius: 5px;
  border: solid 0.5rem var(--black);
}

form {
  display: flex;
  flex-direction: column;
  background-color: var(--pink);
  padding: 2rem;
  border-radius: 5px;
  border: solid 0.5rem var(--black);
}

label {
  margin-top: 1rem;
  margin-bottom: 1rem;
  font-weight: bold;
}

input,
select {
  padding: 0.5rem;
  border: 1px solid var(--darkteal);
  border-radius: 5px;
  font-size: 1.2rem;
}

button {
  margin-top: 1.5rem;
  padding: 0.5rem;
  background-color: var(--teal);
  color: var(--white);
  font-size: 1.2rem;
  border: none;
  cursor: pointer;
  transition: background-color 0.3s ease;
}

button:hover {
  background-color: var(--orange);
}
